@use "header";

@use "footer";


* {

    margin: 0px;
    padding: 0px;
}

body {
    background-color: #D1DEDE;

}


#page_main{

width: 100%;

display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
min-height: 70vh;

>#section_main{

    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    display: grid;
    width: 100%;

    >article{
        align-items: center;
        justify-items: center;

        width: 100%;

        display: grid;

        >.main_span{


            align-items: center;
            justify-items: center;
         width: 80%;

            display: grid;


            >.moves{



                width: 25%;

            }

            >img{


                height: 225px;
                width: 225px;
            }

        }

    }
}
}

